body{
	margin: 0;
	background-color: #dedede;
	text-align: center;
}
.containers{

		width: 65%;
		height: 100%;
		overflow: auto;
		background-color: white;
		position: relative;
		right:-260px;
		border-radius: 20px;

}
button{
	position: relative;
	left: 42.3%;
	cursor: pointer;
	background-color: black;
      color: white;
      border: 1px solid black;
      cursor: pointer;
      width: 10%;
      font-size: 15px;
}
button:hover{
      opacity: 0.8;
}
.t1{
	text-align: center;
	position: relative;
	display: block;
	text-align: center;
	top: -5%;
	font-family: "Lucida Console";
	font-size: 30px;
}
span {
	border-style: none;

}
.Notesss
{


}
td , th{
	text-align: center;

}
th {
	background-color: #1d3557;
	color: white;
	font-family: "Lucida Console";
}
td {
	background-color: #EADEDA;
	font-family: sans-serif;
}
.btn {
	position: relative;
	top: -50px;
}
.containerrr {
	position: absolute;
	width: 20%;
	height: 70%;
	margin-left: 1480px;
	background-color: white;
	border-style: groove;
	border-radius: 17px;
	margin-top: 6%;
	position: absolute;
	left: 40px;
	border-radius: 10px;
	box-shadow: 10px 11px #888888;
}
.TextFname, .TextCivilStatus , .TextAddress , .TextStatus , .TextNote , .TextRoomNo, .TextHeight, .TextWeight
, .TextTemperature , .TextBPM,  .TextDate , .TextTime  , .TextID
{
	font-family: arial;
	position: relative;
	left: -35px;
	font-weight: bold;
	font-size: 20px;
	-webkit-text-stroke-width: 0.5px;
   	-webkit-text-stroke-color: #042f66;
 }
 input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date],input[type=time]
{
 width: 45%;
 float: right;
 display: inline-block;
 background: #f1f1f1;
 background-color: white;
 color: black;
 height: 30px;
 position: relative;
 right: 70px;
}
/* Design For All Inputs, Select and Text Area Ends */
input[type=date]
{
width: 45%;
}

input[type=time]
{
width: 40$;
}

.Logo
{
height: 30px;
width: 30px;
margin-left: -15px;
}
